/* styles.css */
#one{
    width:400px;
    height:80px;
    background-color: yellow; 
}
#two{
    width:400px;
    height:80px;
    background-color: green; 
}
#three{
    width:400px;
    height:80px;
    background-color: red; 
}
#four{
    height:240px;
    width:133px;
    background-color: yellow;
    margin-top:100px;
    margin-left:50px;
    border-left:133px solid blue;
    border-right:133px solid red;
}
#five{
    height:375px;
    width:300px;
    margin-top:100px;
    margin-left:100px;
    border:5px dashed red;
    padding:10px 5px;
}

